.DS_Store
.metadata
.cache
.settings/
target/
.classpath
.project
dependency-reduced-pom.xml
*.log
*.zip
*.jar
.idea/
*.iml
.srl
deployment-bucket/
distribution/indexes
distribution/documentation/
manifest.json
.attach_*
model.onnx
vocab.txt
venv/
site/