.metadata
.cache
.settings/
target/
.classpath
.project
dependency-reduced-pom.xml
*.log
*.zip
*.jar
.idea/
*.iml
.srl
deployment-bucket/
distribution/indexes
distribution/model
distribution/service.py
distribution/documentation/
files/
data/
manifest.json
