name: Build and Test
on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        jdk: [ 17, 21 ]
        experimental: [false]
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: ${{ matrix.jdk }}
          cache: maven
      - name: Build
        run: mvn --batch-mode test